{{ form_start(form) }}
<div class="my-3">
    {# CAMBIADO: De scheduledAt a pickupAt #}
    {{ form_label(form.pickupAt, '¿Cuándo es?') }}
    {{ form_widget(form.pickupAt, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.pickupAt) }}
</div>

<div class="my-3">
    {{ form_label(form.status, 'Estado de la quedada') }}
    {{ form_widget(form.status, {'attr': {'class': 'form-select'}}) }}
    {{ form_errors(form.status) }}
</div>

<div class="my-3">
    {{ form_label(form.notes, 'Lugar/Detalles') }}
    {{ form_widget(form.notes, {'attr': {'class': 'form-control', 'placeholder': 'Ej: En la puerta de la pastelería...'}}) }}
    {{ form_errors(form.notes) }}
</div>

<button class="btn btn-primary-tania mt-3">
    {{ button_label|default('Guardar Quedada') }}
</button>
{{ form_end(form) }}
