{{ form_start(form) }}
    <div class="mb-3">{{ form_row(form.name) }}</div>
    <div class="mb-3">{{ form_row(form.description) }}</div>
    <div class="mb-3">{{ form_row(form.category) }}</div>
    <div class="mb-3">{{ form_row(form.price) }}</div>
    <div class="mb-3">{{ form_row(form.stock) }}</div>
    <div class="mb-3">{{ form_row(form.imageUrl) }}</div>
    <div class="form-check mb-3">{{ form_row(form.isAvailable) }}</div>

    <button class="btn btn-danger">{{ button_label|default('Guardar') }}</button>
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}
    {{ form_row(form.price) }}
    {{ form_row(form.stock) }}
    {{ form_row(form.imageUrl) }}
    {{ form_row(form.isAvailable) }}

    <button class="btn">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
